.rant-card {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 14px;
  max-width: 800px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.rant-img {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 90px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

.rant-title {
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  align-self: end;
  text-align: left;
}

.rant-desc {
  grid-column: 2;
  grid-row: 2;
  font-size: 16px;
  color: #4b5563;
  line-height: 1.6;
  margin: 0;
  align-self: start;
  text-align: left;
}

.rant-card:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}
