
.card{
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(26, 23, 23, 0.1);
    width:100%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.card:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.card .card-img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-bottom: 15%;
    border: #000000;
  }
.card .card-title{
    font-family: Arial, sans-serif  ;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    color: rgb(0, 0, 0);
}

.card .card-desc{
    font-family: 'Arial', Courier, monospace;
    font-size: 13px;
    color: #555;
}
